@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET ESSENCIAL PARA DASHBOARD */
html,
body,
#root {
  height: 100%;
  background-color: #121212;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
